/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


/* Custom variables */
:root {
  /* colors */
  --clr-primary: rgb(141, 191, 182);
  --clr-secondary: rgb(245, 245, 245);
  --clr-secondary-100: rgb(235, 235, 235);
  --clr-button-hover: rgb(141, 181, 182);
  --clr-text-primary: rgb(80, 79, 79);
  --clr-text-secondary: rgb(63, 61, 61);
  --clr-element: linear-gradient(to bottom right,
      rgba(99, 160, 116, 1) 0%,
      rgba(99, 160, 136, 1) 50%,
      rgba(99, 160, 156, 1) 100%);

  /* color effects */
  --box-shadow: 5px 10px 10px -4px rgba(54, 54, 54, 0.2);

  /* font sizes */
  --fs-primary: clamp(1.8rem, 2vw + .1rem, 2.6rem);
  --fs-secondary: clamp(1.6rem, 1.4vw + .8rem, 2.4rem);
  --fs-tertiary: clamp(1.4rem, .8vw + .6rem, 2.2rem);

  /* font-family */
  --ff-primary: 'Poppins', sans-serif;

  /* line height */
  --lh-primary: 1.5;
  --ln-secondary: 1.25;
  --ln-tertiary: 1;

  /* width*/
  --width-primary: min(85%, 1800px);
}

/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set the font size of 1rem to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--ff-primary);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin-inline: auto;
  text-rendering: optimizeSpeed;
  line-height: var(--lh-primary);
  background-color: var(--clr-secondary);
}

.container {
  max-width: var(--width-primary);
  margin-inline: auto;
}

section {
  margin-bottom: 4rem;
  max-height: 100%;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITIES */

/* LAYOUTS */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
}


/* TYPOGRAHPY */

/* Heading's */
.heading-primary {
  font-size: var(--fs-primary);
  color: var(--clr-text-primary);
}

.heading-secondary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.heading-tertiary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-primary);
}

.heading-container {
  display: block;
  text-align: center;
  margin-inline: auto;
  padding: 2rem 0;
}

/* Paragraphs */
.paragraph-primary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
  line-height: var(--ln-primary);
}

.paragraph-secondary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-secondary);
  line-height: var(--ln-primary);
}


/* BUTTON STYLES */
.btn {
  font-size: var(--fs-tertiary);
  background-image: var(--clr-element);
  color: var(--clr-secondary);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  max-width: 11rem;
  max-height: 8rem;
  padding: .9rem;
  font-weight: 500;
  display: grid;
  place-content: center;
  box-shadow: var(--box-shadow);
  transform: scale(1);
  transition: all .1s ease-in;
}

.btn:hover {
  background-color: var(--clr-button-hover);
  transform: scale(1.1);
}





/* Navigation  */

/* burger menu */

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.navbar-links {
  list-style-type: none;
  position: absolute;
  top: 4rem;
  right: -1.5rem;
  background-color: var(--clr-button-hover);
  color: var(--clr-secondary-100);
  padding: 1rem;
}

#menu-btn {
  margin-top: 2rem;
  display: inline-block;

}

.icons {
  width: 4.5rem;
  color: var(--clr-button-txt);
  font-size: 2rem;
  text-align: center;

}

.icons:hover {
  cursor: pointer;
}

.active {
  display: grid;
  text-align: left;
  gap: .5rem;
  border-radius: 1rem;
}

.active>*:hover {
  color: var(--clr-text-primary);
  background-color: var(--clr-secondary-100);
  padding: .2rem .4rem;
  border-radius: .5rem;
}


nav ul {
  display: none;
}

/* HOME SECTION */

/* logo */
.logo {
  position: absolute;
  top: 1rem;
  font-size: var(--fs-primary);
  color: var(--clr-secondary);
  background-image: var(--clr-element);
  padding: 1rem 1rem 1.5rem 1rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

/* home content */

.home-btn {
  margin: 3.5rem auto;
  color: var(--clr-secondary);
}

.heading-home {
  text-align: left;
  margin: 2.5rem 0 1rem 0;
}


/* SERVICE SECTION */
.features-content {
  flex-direction: column;
}

.features-content_element {
  background-color: var(--clr-main);
  background-image: var(--clr-element);
  margin-bottom: 2rem;
  width: 16rem;
  min-width: 13rem;
  min-height: 16rem;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: var(--box-shadow);

  /* polygon shape */
  clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
  /* minimal animation */
  transform: scale(1);
  transition: all 0.4s;

}

.features-content_element:hover {
  transform: scale(1.1);
}

.heading-service_element {
  color: var(--clr-secondary);
  font-weight: 400;
  padding: .35rem;
}

/* PROJECTS SECTION */

.gallery-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem
}

.gallery__item {
  position: relative;
  width: 237px;
  height: 218px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

/* text hover on img */
.img__description {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #ddd;
  color: var(--clr-text-primary);
  opacity: 60%;
  border-radius: 1rem;
  padding: .4rem 5rem .4rem 1rem;
  display: grid;
  align-items: flex-end;
  justify-content: start;
}

.gallery-paragraph {
  display: none;
}

/* ABOUT US SECTION */

/* NADA */

/* CONTACT US SECTION */

.contact-container {
  flex-direction: column;
}

.contact-container .btn {
  padding: 1rem 4rem;
}

form input {
  height: 3rem;
  margin-bottom: 1.5rem;
}

form textarea {
  margin-bottom: 3.5rem;
}


/* FOOTER SECTION */
footer {
  height: 30vh;
  background-image: var(--clr-element);
  color: var(--clr-secondary-100);
}

.footer-heading{
color: var(--clr-secondary-100);
}

.footer-center {
  gap: .5rem;
  font-size: var(--fs-tertiary);
  
}

 .footer-center a{
  transform: scale(1);
  transition: all .2s ease-in;
}

.footer-center a:hover{
  margin-inline: .5rem;
  transform: scale(1.1);
}

.copyright {
  margin-top: 3rem;
  font-size: var(--fs-tertiary);
}

/* MEDIA QUERIES  */
@media screen and (min-width:768px) {

  /* Navigation */


  .navbar-links {
    top: .5rem;
    display: flex;
    font-size: var(--fs-primary);
    font-weight: 500;
    margin: 0;
    gap: 1.25rem;
    background-color: var(--clr-secondary);
  }

  .nav-link {
    background-color: var(--clr-secondary);
    color: var(--clr-text-primary);
    transform: scale(1);
    transition: all .125s ease-in;
  }

  .nav-link:hover {
    transform: scale(1.1);
  }

  .icons {
    display: none;
  }

  /* HOME SECTION */
  #home-section {
    margin-top: 10rem;
  }

  .home-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-section__container>* {
    width: 50%;
  }

  .home-btn {
    margin-top: 7rem;
    max-width: 15rem;
  }

  /* FEATURES SECTION */

  .heading-features {
    margin-bottom: 7rem;
  }

  .features-content_element {
    width: 250px;
    height: 250px;
    margin: -3rem 1rem;
  }

  .features-content {
    display: grid;
    place-items: center;
    grid-column: auto;
    grid-row: auto;
    margin-inline: 2rem;
  }

  .element--1 {
    grid-row: 1/1;
    grid-column: 2/3;
  }

  .element--2 {
    grid-row: 1/1;
    grid-column: 3/4;
  }

  .element--3 {
    grid-row: 1/1;
    grid-column: 4/5;
  }

  .element--4 {
    grid-row: 2/2;
    grid-column: 2/4;
  }

  .element--5 {
    grid-row: 2/2;
    grid-column: 3/5;
  }

  /* PROJECTS SECTION */

  #projects-section {
    margin: 7rem 0 15rem 0;
  }

  .projects-heading {
    margin: 10rem 0 5rem 0;
  }

  .img__description {
    display: none;
  }

  .gallery__item {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    width: 45rem;
    height: 35rem;
  }

  .gallery-paragraph {
    width: 85%;
    height: 100%;
    display: grid;
    place-content: center;
    gap: 2rem;
    font-size: var(--fs-tertiary);
    font-weight: 300;
    margin: 2rem;
  }

  .gallery-paragraph p {
    text-align: left;

  }


  /* SECTION ABOUT US */

  .about-container{
    display: flex;
  }

  .about-container>*{
    width: 50%;
  }

  .about-heading{
    margin-bottom: 8rem;
  }

  .about__right{
    background-image: var(--clr-element);
    padding: 5rem 3rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
  }

  .about__right h2{
    margin-bottom: 4rem;
    color: var(--clr-secondary-100);
  }

  .about__right p{
    color: var(--clr-secondary-100);
  }

  /* SECTION CONTACT US */

  #contact-section h1 {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .contact-container {
    font-size:var(--fs-secondary);
  }

  form input {
    padding: 3rem 1.5rem;
  }

  form textarea{
    padding: 2rem 1.5rem;
  }
  

  

}