/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


/* Custom variables */
:root {
  /* colors */
  --clr-primary: rgb(141, 191, 182);
  --clr-secondary: rgb(242, 242, 242);
  --clr-secondary-100: rgb(235, 235, 235);
  --clr-button: rgb(56, 217, 169);
  --clr-button-hover: rgba(56, 235, 169, 2);
  --clr-text-primary: rgb(80, 79, 79);
  --clr-text-secondary: rgb(63, 61, 61);

  /* color effects */
  --box-shadow: 5px 10px 10px -4px rgba(54, 54, 54, 0.2);

  /* font sizes */
  --fs-primary: clamp(1.8rem, 2vw + .1rem, 2.8rem);
  --fs-secondary: clamp(1.6rem, 1.4vw + .8rem, 2.4rem);
  --fs-tertiary: clamp(1.4rem, .8vw + .6rem, 2.2rem);

  /* font-family */
  --ff-primary: 'Poppins', sans-serif;

  /* line height */
  --lh-primary: 1.5;
  --ln-secondary: 1.25;
  --ln-tertiary: 1;

  /* width*/
  --width-primary: min(85%, 1800px);
}

/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set the font size of 1rem to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--ff-primary);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin-inline: auto;
  text-rendering: optimizeSpeed;
  line-height: var(--lh-primary);
  background-image: var(--clr-primary);
}

.container {
  max-width: var(--width-primary);
  margin-inline: auto;
}

section {
  margin-bottom: 4rem;
  max-height: 100%;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITIES */

/* LAYOUTS */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
}


/* TYPOGRAHPY */

/* Heading's */
.heading-primary {
  font-size: var(--fs-primary);
  color: var(--clr-text-primary);
}

.heading-secondary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.heading-tertiary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-primary);
}

.heading-container {
  display: block;
  text-align: center;
  margin-inline: auto;
  padding: 2rem 0;
}

.heading-home {
  text-align: left;
}

/* Paragraphs */
.paragraph-primary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
  line-height: var(--ln-primary);
}

.paragraph-secondary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-secondary);
  line-height: var(--ln-primary);
}


/* BUTTON STYLES */
.btn {
  font-size: var(--fs-tertiary);
  background-color: var(--clr-button);
  color: var(--clr-text-secondary);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  max-width: 11rem;
  max-height: 8rem;
  padding: .9rem;
  font-weight: 500;
  display: grid;
  place-content: center;
}

.btn:hover {
  background-color: var(--clr-button-hover);
}

/* Navigation  */

/* remove this when adding a responsive burger menu */
nav .burger-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
  background-color: red;
}

nav ul {
  display: none;
}

/* Home Section */

/* logo */
.logo {
  font-size: var(--fs-primary);
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  padding: 1rem 1rem 1.5rem 1rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

/* home content */
.home-btn {
  margin: 3.5rem auto;
  color: var(--clr-secondary);
}


/* Service Section */
.service-content{
  flex-direction: column;
}

.service-content_element {
  background-color: var(--clr-main);
  background-image: linear-gradient(to bottom right,
      rgba(99, 160, 116, 1) 0%,
      rgba(99, 160, 136, 1) 50%,
      rgba(99, 160, 156, 1) 100%);
  margin-bottom: 2rem;    
  width: 16rem;
  min-width: 13rem;
  min-height: 16rem;
  display: grid;
  place-items: center;
  text-align: center;

  /* polygon shape */
  clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
  /* minimal animation */
  transform: scale(1);
  transition: all 0.4s;
  
}

.service-content_element:hover{
  transform: scale(1.1);
}

.heading-service_element{
  color: var(--clr-secondary);
  font-weight: 400;
  padding: .35rem;
}